@model MyFavoriteThings.Models.Adventure

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Adventure</h4>
    <hr />
    <dl class="dl-horizontal">
        @if (ViewBag.ShowDetail)
        {
            <dt>
                @*@Html.DisplayNameFor(model => model.AdventureName)*@
                Adventure Name
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AdventureName)
            </dd>

            <dt>
                @*@Html.DisplayNameFor(model => model.AdventureDescription)*@
                Description
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AdventureDescription)
            </dd>

            <dt>
                @*@Html.DisplayNameFor(model => model.AdventureGeneralLocation)*@
                General Location
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AdventureGeneralLocation)
            </dd>
        }
        @if (!ViewBag.ShowDetail)
        {
            <dt>
                @*@Html.DisplayNameFor(model => model.AdventureName_Obscure)*@
                Adventure Name
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AdventureName_Obscure)
            </dd>

            <dt>
                @*@Html.DisplayNameFor(model => model.AdventureDescription_Obscure)*@
                Description
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AdventureDescription_Obscure)
            </dd>

            <dt>
                @*@Html.DisplayNameFor(model => model.AdventureGeneralLocation_Obscure)*@
                General Location
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AdventureGeneralLocation_Obscure)
            </dd>
        }

        <dt>
            @*@Html.DisplayNameFor(model => model.GeneralTimeNarrative)*@
            General Time
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GeneralTimeNarrative)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RatingCounter)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RatingCounter)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.RatingSum)
        </dt>*@

        <dd>
            @Html.HiddenFor(model => model.RatingSum)
        </dd>


        @if (Model.AllowComments)
        {
            <dt>
                @Html.DisplayNameFor(model => model.AllowComments)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AllowComments)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Comments)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Comments)
            </dd>
        }
        @*<dt>
            @Html.DisplayNameFor(model => model.AllowImages)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AllowImages)
        </dd>*@


    </dl>
</div>
<p>
    @Html.ActionLink("View Waypoints", "Index", "Waypoints", new { id = Model.AdventureID, dateString = "", showDetail = ViewBag.ShowDetail }, null) |

    @* Change this next link to be disabled if it's not the creator who is logged in*@
    @if (ViewBag.UserIsCreator)
    {
        @Html.ActionLink("Add Waypoints", "Create", "Waypoints", new { id = Model.AdventureID }, null) 
        @Html.ActionLink(" | Edit | ", "Edit", new { id = Model.AdventureID, showDetail = ViewBag.ShowDetail })
    }

    @Html.ActionLink("Back to Adventures", "Index")

</p>
