@model IEnumerable<MyFavoriteThings.Models.Adventure>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Contributor.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdventureName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdventureName_Obscure)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdventureDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdventureDescription_Obscure)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdventureGeneralLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdventureGeneralLocation_Obscure)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RatingCounter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RatingSum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllowComments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllowImages)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Contributor.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdventureName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdventureName_Obscure)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdventureDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdventureDescription_Obscure)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdventureGeneralLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdventureGeneralLocation_Obscure)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RatingCounter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RatingSum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AllowComments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AllowImages)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AdventureID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AdventureID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AdventureID })
        </td>
    </tr>
}

</table>
